*{
    box-sizing: border-box;
}
body{
    background-color: rgb(17, 17, 51);
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
}

.seat{
    background-color: grey;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.row{
    display: flex;
}

.movie-container{
    margin: 20px 0;
}

.movie-container select{
    background-color: white;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15p 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.seat.selected {
    background-color: greenyellow;
}

.seat.occupied{
    background-color: cyan;
}

.showcase{
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.showcase li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

}

.showcase li small{
    margin-left: 10px;
}

